<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{movie.title}}</title>
</head>
<body>
    <h1 id="movieinfo">{{movie.title}}</h1>
    <img id="minfo" src="{{movie.image}}" alt="{{movie.title}} Picture">
    <p>Description: {{movie.description}}</p>
    <p>Directed by: {{movie.director}}</p>
    

    <ul id="stars">
        {{#each movie.stars}}
        <li>
            {{this}}{{#unless @last}}, {{/unless}}
        </li>
        {{/each}}
    </ul>
    <br>


    <ul id="times">
        {{#each movie.showtimes}}
        <li>
            {{this}}

        </li>
        {{/each}}
    </ul>
    <a id="footer2" href="/movies">Back to Movies List</a>
    
</body>
</html>


